@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/regular.scss";
@import "./themes/dark.scss";

.App {
	min-height: 100vh;
	min-height: 100dvh;
	font: var(--font-m);
	color: var(--primary-color);
	background-color: var(--bg-color);
	transition: min-height var(--generic-transtion-time) ease-in-out;
}

.main-content-wrapper {
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: calc(100vh - var(--nav-height));
	height: calc(100dvh - var(--nav-height));
	transition: height var(--generic-transtion-time) ease-in-out;
}
