@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/regular.scss";
@import "./themes/dark.scss";

.App {
	min-height: 100vh;
	font: var(--font-m);
	color: var(--primary-color);
	background-color: var(--bg-color);
}

.main-content-wrapper {
	display: flex;
}
