.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    background-color: var(--backdrop-color);
}

.content {
    width: 200px;
    height: 200px;
    background-color: var(--bg-color);
    border-radius: var(--element-border-radius);
}

.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;
}
