.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--generic-transtion-time);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    background-color: var(--backdrop-color);
}

.content {
    max-width: 60%;
    padding: var(--padding-gap-size-desk);
    background-color: var(--bg-color);
    border-radius: var(--element-border-radius);
    transition: transform var(--generic-transtion-time);
    transform: scale(0.5)
}

.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;

    .content {
        transform: scale(1);
    }
}

.closing {
    opacity: 0;

    .content {
        transform: scale(0.3);
    }
}
