.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--generic-transtion-time);
    animation: fade-in var(--generic-transtion-time);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    background-color: var(--backdrop-color);
}

.content {
    max-width: calc(100% - var(--padding-gap-size-desk) * 2);
    padding: var(--padding-gap-size-desk);
    font: var(--font-m);
	color: var(--primary-color);
	background-color: var(--bg-color);
    border-radius: var(--element-border-radius);
    transition: transform var(--generic-transtion-time);
    animation: zoom-in var(--generic-transtion-time);
}

.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;

    .content {
        transform: scale(1);
    }
}

.closing {
    opacity: 0;

    .content {
        transform: scale(0.3);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 60%;
    }
}
