.Sidebar {
    --transition-time: 0.23s;

    height: calc(100vh - var(--nav-height));
    width: 300px;
    background-color: var(--primary-color);
    padding: var(--padding-gap-size-desk);
    transition: width var(--transition-time);
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: 80px;
}

.sidebarToggleContainer {
    height: var(--font-line-height-m);
    display: flex;
    justify-content: flex-end;
}

.arrowButton {
    transform: scale(-1, 1);
    transition: transform var(--transition-time) linear;
}

.Sidebar.collapsed .arrowButton {
    transform: scale(1, -1);
}

.arrowButton svg {
    width: 100%;
    height: 100%;
}

.arrowButton svg path {
    stroke: var(--tertiary-color);
}
