.Sidebar {
    --transition-time: 0.23s;

    height: calc(100vh - var(--nav-height));
    width: 300px;
    background-color: var(--primary-color);
    padding: var(--padding-gap-size-desk);
    transition: width var(--transition-time);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collapsed {
    width: 80px;
}

.sidebar-toggle-container {
    height: var(--font-line-height-m);
    display: flex;
    justify-content: flex-end;
}

.arrow-button {
    transform: scale(-1, 1);
    transition: transform var(--transition-time) linear;
}

.Sidebar.collapsed .arrow-button {
    transform: scale(1, -1);
}

.arrow-button svg {
    width: 100%;
    height: 100%;
}

.arrow-button svg path {
    stroke: var(--tertiary-color);
}

.theme-switcher-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
