.Sidebar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    max-width: 100%;
    height: 100%;
    padding: var(--padding-gap-size-medium);
    background-color: var(--primary-color);
    transition: width var(--sidebar-transition-time);
}

.sidebar-toggle-container {
    display: flex;
    justify-content: flex-end;
    height: var(--font-line-height-m);
}

.arrow-button {
    width: 24px;
    height: 24px;
    color: var(--tertiary-color);
    transition: transform var(--sidebar-transition-time) linear !important;
    transform: scale(-1, 1);

    svg {
        width: 100%;
        height: 100%;

        path {
            stroke: var(--tertiary-color);
        }
    }
}

.arrow-button:focus-visible {
    box-shadow: -4px 4px 5px -4px var(--tertiary-color);
}

.main-content-container {
    flex: 1;
}

.switcher-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: transform var(--sidebar-transition-time) linear;
    transform: scale(1, 1);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .arrow-button {
        transform: scale(1, -1);
    }

    .arrow-button:focus-visible {
        box-shadow: 4px -4px 5px -4px var(--tertiary-color);
    }

    .switcher-container {
        flex-direction: column;
        transform: scale(-1, 1);
    }

    .switcher-container > * {
        transform: scale(-1, 1);
    }
}

@media screen and (min-width: 768px) {
    .Sidebar {
        position: static;
    }
}
