.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: calc(100vh - var(--nav-height));
    padding: var(--padding-gap-size-desk);
    background-color: var(--primary-color);
    transition: width var(--sidebar-transition-time);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar-toggle-container {
    display: flex;
    justify-content: flex-end;
    height: var(--font-line-height-m);
}

.arrow-button {
    transition: transform var(--sidebar-transition-time) linear;
    transform: scale(-1, 1);
}

.Sidebar.collapsed .arrow-button {
    transform: scale(1, -1);
}

.arrow-button svg {
    width: 100%;
    height: 100%;
}

.arrow-button svg path {
    stroke: var(--tertiary-color);
}

.switcher-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: transform var(--sidebar-transition-time) linear;
    transform: scale(1, 1);
}

.Sidebar.collapsed .switcher-container {
    flex-direction: column;
    transform: scale(-1, 1);
}

.Sidebar.collapsed .switcher-container > * {
    transform: scale(-1, 1);
}

// TODO switch to mobile first:
@media screen and (max-width: 600px) {
	.Sidebar {
		position: absolute;
    	top: 0;
    	left: 0;
	}
}
