@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/regular.scss";
@import "./themes/dark.scss";

.App {
	height: 100vh;
	background-color: antiquewhite;
	font: var(--font-m);
}