@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/regular.scss";
@import "./themes/dark.scss";

.App {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--primary-color);
	font: var(--font-m);
}