*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	background-color: transparent;
}
