.ThemeSwitcher {
    height: 40px;
    width: 40px;
}

.theme-icon-container {
    height: 100%;
    width: 100%;
}

.theme-icon-container svg {
    max-width: 100%;
    max-height: 100%;
}

// MoonIcon
.theme-icon-container.regular {
    padding: 9px;
}
.theme-icon-container.regular svg path {
    fill: var(--tertiary-color);
}

// SunIcon
.theme-icon-container.dark {
    padding: 5px;
}
.theme-icon-container.dark svg path {
    stroke: var(--tertiary-color);
}
