.ThemeSwitcher {
    width: 40px;
    height: 40px;
    color: var(--tertiary-color);
}

.theme-icon-container {
    width: 100%;
    height: 100%;
    transition: transform var(--sidebar-transition-time);

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

// MoonIcon
.ThemeSwitcher.regular-theme {
    .theme-icon-container {
        padding: 9px;
    }

    svg path {
        fill: var(--tertiary-color);
    }
}

// SunIcon
.ThemeSwitcher.dark-theme {
    .theme-icon-container {
        padding: 6px;
        transform: rotateY(180deg);
    }
    
    svg path {
        stroke: var(--tertiary-color);
    }
}

.ThemeSwitcher:focus-visible {
    outline: none;
    box-shadow: 0 0 14px 0 var(--tertiary-color);
}
