.AppButton {
    color: var(--primary-color);
    border: 2px solid;
    transition: color var(--generic-transtion-time), background-color var(--generic-transtion-time), box-shadow var(--generic-transtion-time-quick);
}

// Clear Button Styles
.clear {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.clear:hover {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

.clear:focus {
    box-shadow: 0 0 14px 0 var(--primary-color);
}

.clear:active {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 14px 0 var(--primary-color);
}

.clear.disabled {
    color: var(--tertiary-color);
    background-color: transparent;
    border-color: var(--tertiary-color);
    box-shadow: none;
}

// Clear Button Styles End

// Clear Inversed Button Styles
.clear-inversed {
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.clear-inversed:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color)
}

.clear-inversed:focus {
    box-shadow: 0 0 14px 0 var(--tertiary-color);
}

.clear-inversed:active {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    box-shadow: 0 0 14px 0 var(--tertiary-color);
}

.clear-inversed.disabled {
    color: var(--secondary-color);
    background-color: transparent;
    border-color: var(--secondary-color);
    box-shadow: none;
}

// Clear Inversed Button Styles End

.AppButton.medium {
    padding: 8px 16px;
    font: var(--font-m);
}

.AppButton.large {
    padding: 8px 16px;
    font: var(--font-l);
}
