.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--nav-height);
    padding: 0 var(--padding-gap-size-medium);
    background-color: var(--primary-color);
}

.links {
    display: flex;
    gap: var(--padding-gap-size-medium);
}
