.ErrorPage {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

.title {
    font-size: 24px;
}

.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
    
}

.button:hover {
    opacity: 1;
    transform: translate(0, -1px);
}

.button:active {
    transform: translate(0, 0);
}
