.NavigationLinks {
    display: flex;
    justify-content: center;
    padding: var(--padding-gap-size-medium) 0;
    overflow-x: hidden;
}

.links-container { 
    display: flex;
    flex-direction: column;
    gap: var(--padding-gap-size-small);
}

.link-wrapper {
    display: flex;
    align-items: center;
}

.link-wrapper a {
    transition: margin var(--sidebar-transition-time), opacity var(--sidebar-transition-time), box-shadow var(--generic-transition-time), max-width var(--sidebar-transition-time);
}

.link-wrapper a:not(:last-child) {
    margin-right: var(--padding-gap-size-small) !important;
}

.icon-link:active {
    box-shadow: 4px 4px 5px -4px var(--tertiary-color);
}

.icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;

    svg {
        max-width: 100%;
        max-height: 100%;

        path {
            stroke: var(--tertiary-color);
        }

        circle {
            fill: var(--tertiary-color);
        }
    }
}

.text-link {
    max-width: 200px;
}

.NavigationLinks.narrow {
    .link-wrapper a:not(:last-child) {
        margin-right: 0 !important;
    }

    .text-link {
        max-width: 0;
        opacity: 0;
    }
}

.NavigationLinks.regular {
    .text-link {
        opacity: 1;
    }
}

.text-link.hidden {
    display: none;
}   
